
@{
    ViewData["Title"] = "Instituto";
}

<center><h1>Instituto</h1></center>

<hr class="divider">

<div class="row">
    <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-4">
            <a class="btn btn-primary btn-xl" asp-controller="Professors" asp-action="Index">Professor</a>
            @* <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p> *@
        </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-4">
            <a class="btn btn-primary btn-xl" asp-controller="Funcionarios" asp-action="Index">Funcionários</a>
            @* <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p> *@
        </div>
    </div>
    <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-4">
            <a class="btn btn-primary btn-xl" asp-controller="Professors" asp-action="Index2">Escolas</a>
            @* <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p> *@
        </div>
    </div>
</div>
